//
   Created by PMFriedman on 1/13/2015.

extends layout

block content
    h1 Have you learned today?
    div
        img(src='/images/happy.png')
        img(src='/images/sad.png')
    form(method='post', action='/learning/today')
        input(type='submit')
