//
   Created by PMFriedman on 1/13/2015.

extends layout

block content
    h1 Have you learned today?
    div
        img(src='/images/' + fileName, class='today-image')
    form(method='post', action='/learning/today')
        input(type='submit', name='hasLearned', value='YES', class='today-button')
        input(type='submit', name='hasLearned', value='NO', class='today-button')
        input(type='submit', name='hasLearned', value='RESET', class='today-button')
