//
   Created by PMFriedman on 1/7/2015.

h1 Register
div
   form(action='/users/register', method='post')
      div
         label(for='username') User ID
         input(type='text', name='username')
      div
         label Password
         input(type='password', name='password')
      div
         input(type='submit' value='Submit')