body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.today-image {
  width: 100%;
  max-width: 600px;
  height: 600px;
}

.today-button {
  height: 150px;
  width: 200px;
  font-size: 50px;
}